body{
  margin: 0 auto;
  background-color: lightslategray;
}
ul{
  margin: 0 auto;
}
li{
  margin-top: 20px;
  border: 1px solid blue;
  text-align: center;
  margin-right: 30px
}

.login{
  float: right;
/*  margin-left: 1000px;
  margin-right: 20px;*/
  border: 1px solid blue; 
}

.nav {
  margin-left:  500px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.new-comment{
  margin-left: 500px;
  margin-bottom: 50px;
}


.coin{
 display: inline-block;
 margin: 50px;
}

.register {
  margin-left: 500px;
  margin-right: 500px;
  border: 1px solid blue;
}

.halfcent{
 display: inline-block;
 margin: 50px;
}
}