<div>
  <img src="https://www.usacoinbook.com/us-coins/liberty-cap-half-cent-facing-left.jpg">
  <ul style="list-style-type: none">
    <li>
     <p>Denomination: $1/200</p>
    </li>
    <li><p>Series: Liberty Cap, Head Facing Left</p>
    </li>
     
     <li>
      <p>Year: 1793</p>
     </li>
     <li>
      <p>Composition: 100% Copper</p>
     </li>
     <li>
      <p>Mint: P</p>
     </li>
     <li>
       <p>History: First authorized by the Coinage Act of 1792 on April 2, 1792,[1] the coin was produced in the United States from 1793 to 1857. The half-cent piece was made of 100% copper and was valued at five milles, or one two-hundredth of a dollar. It was slightly smaller than a modern U.S. quarter with diameters 22 mm (1793), 23.5 mm (1794–1836) and 23 mm (1840–1857).[2] Coinage was discontinued by the Coinage Act of February 21, 1857. They were all produced at the Philadelphia Mint.</p>
     </li>
     <li>
       <p>Designer:  Henry Voigt</p>
     </li>
  </ul>
</div>
