<div class="halfcent">
  <img src="https://www.usacoinbook.com/us-coins/liberty-cap-half-cent-facing-left.jpg" height="300" width="300">
  <h3>Liberty Cap, Head Facing Left</h3>
  <a href="/#!/1">1793</a>
</div>

<div class="halfcent">
  <img src="https://www.usacoinbook.com/us-coins/draped-bust-large-cent.jpg" height="300" width="300">
  <h3>Liberty Cap, Head facing Right</h3>
  <a href="/#!/2">1974-1797</a>
</div>

<div class="halfcent">
  <img src="https://www.usacoinbook.com/us-coins/draped-bust-half-cent.jpg" height="300" width="300">
  <h3>Draped  Bust</h3>
  <a href="/#!/3">1800-1808</a>
</div>

<div class="halfcent">
  <img src="https://www.coincommunity.com/us_half_cents/images/1831-classic-head-half-cent-pcgs-pr65-01.jpg" height="300" width="300">
  <h3>Classic Head</h3>
  <a href="/#!/4">1809-1836</a>
</div>

<div class="halfcent">
  <img src="https://www.usacoinbook.com/us-coins/1850-braided-hair-half-cent.jpg" height="300" width="300">
  <h3>Braided Hair</h3>
  <a href="/#!/5">1840-1857</a>
</div>