<section class="flexcontainer">
<div class="coin">
  <img src="{{inf.imgSrc}}" height="100" width="100">
  <h3>Half Cents</h3>
  <h4>1793-1857</h4>
</div>

<div class="coin">
  <img src="{{inf.largeCent}}" height="100" width="100">
  <h3>Large Cents</h3>
  <h4>1793-1857</h4>
</div>

<div class="coin">
  <img src="{{inf.smallCent}}" height="100" width="100">
  <h3>Small Cents</h3>
  <h4>1857-present</h4>
</div>

<div class="coin">
  <img src="{{inf.nickels}}" height="100" width="100">
  <h3>Nickels</h3>
  <h4>1866-present</h4>
</div>

<div class="coin">
  <img src="{{inf.halfDimes}}" height="100" width="100">
  <h3>Half Dismes(Dimes)</h3>
  <h4>1794-1873</h4>
</div>

<div class="coin">
  <img src="{{inf.dimes}}" height="100" width="100">
  <h3>Dimes</h3>
  <h4>1796-present</h4>
</div>

<div class="coin">
  <img src="{{inf.twentyCents}}" height="100" width="100">
  <h3>Twenty Cent Pieces</h3>
  <h4>1875-1878</h4>
</div>

<div class="coin">
  <img src="inf.quarters" height="100" width="100">
  <h3>Quarters</h3>
  <h4>1796-present</h4>
</div>

<div class="coin">
  <img src="{{inf.halfDollars}}" height="100" width="100">
  <h3>Half Dollars</h3>
  <h4>1794-present</h4>
</div>

<div class="coin">
  <img src="{{inf.silverDollar}}" height="100" width="100">
  <h3>Silver Dollars</h3>
  <h4>something-present</h4>
</div>

<div class="coin">
  <img src="{{inf.modernDollar}}" height="100" width="100">
  <h3>Modern Dollars</h3>
  <h4>something-present</h4>
</div>

<div class="coin">
  <img src="{{inf.tradeDollar}}" height="100" width="100">
  <h3>Trade Dollars</h3>
  <h4>something-something</h4>
</div>

<div class="coin">
  <img src="{{inf.goldDollar}}" height="100" width="100">
  <h3>Gold Dollars</h3>
  <h4>something-something</h4>
</div>

<div class="coin">
  <img src="{{inf.goldQuarter}}" height="100" width="100">
  <h3>Gold Quarters</h3>
  <h4>something-something</h4>
</div>

<div class="coin">
  <img src="{{inf.threeDollaGold}}" height="100" width="100">
  <h3>Three Dollar Gold Peice</h3>
  <h4>1854-1889</h4>
</div>

<div class="coin">
  <img src="{{inf.fourDollaGold}}" height="100" width="100">
  <h3>Four Dollar Gold Peice</h3>
  <h4>1879-1880</h4>
</div>

<div class="coin">
  <img src="{{inf.goldHalfEagle}}" height="100" width="100">
  <h3>Gold Half Eagle</h3>
  <h4>1795-1929</h4>
</div>

<div class="coin">
  <img src="{{inf.tenGoldEagle}}" height="100" width="100">
  <h3>$10 Gold Eagle</h3>
  <h4>1907-1933</h4>
</div>

<div class="coin">
  <img src="{{inf.goldDoubleEagle}}" height="100" width="100">
  <h3>$20 Gold Double Eagle</h3>
  <h4>1907-1933</h4>
</div>

<div class ="coin">
  <img src="{{inf.commerative}}" height="100" width="100">
  <h3>Commerative Coins</h3>
</div>
</section>